*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    min-height: 100vh;
    align-content: end;
    font-family: Arial, sans-serif;
  
}
.Footer{
    margin-top: 400px;
    position: relative;
    width:100%;
    height: auto;
   
    color: white;
    font-size:16px;

}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2.4fr;
    grid-gap: 40px;

}
.container .sec h2{
    position: relative;
    color: white;
    font-weight: 200;
    margin-bottom: 17px;
    font-size: 16px;
    display: grid;
    align-content: start;
    left: -20px;
    letter-spacing:1.2px;

} 
.container ul{
    margin-top: 40px;
    display: grid;
    
}
.container ul li{
    list-style: none;
    letter-spacing:1.2px;
    word-spacing: 1.7px;

}
.container li a{
    display: inline-block;
    position: relative;
  color: white;
    display: grid;
    align-content:start;
    justify-content: left;
    text-decoration: none;
    font-weight: 100;
}
.email h2{
    display: grid;
    justify-content: left;
    transform: translate(50px);
}
.container input{
    margin-top: 40px;
    width: 29vw;
    height: 10vh;
    border:1px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 20px;
}
::placeholder{
    color: white;
}
.bottom-sec{
    margin-top:20px;
    display: grid;
    grid-template-columns:repeat(6,200px);
    font-weight: 500;
    margin-bottom: 97px;
    width: 100%;
   
}
.bottom-sec h2{
    transform: translate(50px);
    font-size: 16px;

}
.bottom-sec .social-icons{
    text-decoration: none;
    color: white;
    display: grid;
    position: relative;
    left: 70px;
    grid-template-columns: repeat(5,40px);
}
.bottom-sec .social-icons a{
    text-decoration: none;

}
.bottom-sec .social-icons a .fa-brands{
    font-size: 14px;
    color: black;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    padding: 6px;
    border-radius: 50%;
    background-color: white;

}
.bottom-sec h2 a{
    color: white;
    position: relative;
    
}
